DATABASE_URL="postgresql://postgres:szaq12345@localhost:5432/Votex?schema=public"
JWT_SECRET=your-secret-key
PORT=5000


PG_USER=localhost
PG_HOST=postgres
PG_DATABASE=Votex
PG_PASSWORD=szaq12345
PG_PORT=5000
API_URL = http://localhost:5000


SECRET_KEY = 'your_secret_key'